@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss';

@theme {
  --breakpoint-420: 420px;
  --breakpoint-720: 720px;
  --breakpoint-920: 920px;
  --breakpoint-1024: 1024px;
  --breakpoint-1280: 1280px;
  --breakpoint-1440: 1440px;
} */

body{
  font-family: 'PolySans';
  font-weight: 400;
}

/* WebKit para forzar el renderizado en iOS */
@supports (-webkit-transform: rotate(0)) {
  .views-overlay {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

/* Mejora de visibilidad */
@supports (-webkit-transform-style: preserve-3d) {
  .views-overlay {
    -webkit-backface-visibility: visible;
    -webkit-transform-style: preserve-3d;
  }
}

/* Mejor renderizado de interacción */
@supports (-webkit-appearance: none) {
  .views-overlay {
    -webkit-appearance: none;
  }
}

.swiper-pagination-progressbar, .swiper-custom-pagination {
  position: relative !important;
  background-color: #ffffff !important;
  height: 5px !important;
}

.swiper-pagination-progressbar-fill{
  background-color: #1022FF !important;
}

.swiper-wrapper{
  transition-timing-function: linear !important;
}

@media (min-width:1440px) {
  .main-container-1440{
    max-width: 1440px;
    margin: 0 auto;
  } 
}

@media (min-width:1280px) and (max-width:1439px) {
  .main-container-1280{
    max-width: 1280px;
    margin: 0 auto;
  } 
}
